//宽度和高度尺寸
@mixin wh($width,$height) {
  width: $width;
  height: $height;
}

//字体大小和颜色
@mixin sc($size,$color) {
  font-size: $size;
  color: $color;
}

//上下居中
@mixin tbc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//左右居中
@mixin lrc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//上下左右居中
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

//文字超出容器隐藏加省略号
@mixin ellipsis {
  text-overflow: ellipsis;//超出容器范围变成省略号
  overflow: hidden;//隐藏超出范围内容
  white-space: nowrap;//不换行
}

//display为flex时水平和垂直居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}